<!doctype html>
<html>
<head>
<title>Meadowlark Travel</title>
</head>
<body style="background-color: #22272e;">
    <header>
<img src="/img/logo.png" alt="Логотип Meadowlark Travel">
</header>
{{{body}}}
</body>
</html>